/* div{
height: 100px;
width: 100px;
background-color: #FF0000;
border-radius: 50%;
} */

*{
    margin: 0;
    padding: 0;
    background-color: white;
}
#navbar{
   height: 60px;
   background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}